@font-face {
  font-family: 'FiraSans_Regular';
  src: local('FiraSans'),
        url(./assets/fonts/FiraSans-Regular.woff2) format('woff2'),
        url(./assets/fonts/FiraSans-Regular.otf) format('opentype')
}

@font-face {
  font-family: 'FiraSans_Bold';
  src: local('FiraSans'), 

        url(./assets/fonts/FiraSans-Bold.woff2) format('woff2'),
        url(./assets/fonts/FiraSans-Bold.otf) format('opentype')
}


.App {
  font-family: 'FiraSans_Regular', Avenir, sans-serif;
}

.App-link {
  color: #61dafb;
}

.homepage {
  height: 100vh;
  margin-bottom: 0 ;
  border-radius: 0;
  position: relative;
  color: white;
  background-image: linear-gradient(to right, rgba(119, 42, 216, 0.85), rgba(38, 109, 232, 0.85)), url('./assets/snuggles.png');
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
  background-blend-mode: normal, hard-light;
}

.homepage-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.homepage-header {
  font-family: 'FiraSans_Bold', sans-serif;
}

@media screen and (max-width: 576px) { 
  .homepage {
    background-size: auto;
    background-position: center;
  }

  .homepage-container {
    top: 60%;
  }

  .button-container {
    bottom: 0;
  }
}
